<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめのアニメは…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h6>タコピーの原罪</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "1", "2"] %>
    <h6>オッドタクシー</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>光が死んだ夏</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>東京卍リベンジャーズ</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "1", "1"] %>
    <h6>STEINS;GATE</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "1", "2"] %>
    <h6>ノーゲーム・ノーライフ</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "2", "1"] %>
    <h6>アカギ～闇に舞い降りた天才～</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "2", "2"] %>
    <h6>氷菓</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "1", "1"] %>
    <h6>約束のネバーランド</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>進撃の巨人</h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "1"] %>
    <h6>呪術廻戦</h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "2"] %>
    <h6>僕のヒーローアカデミア</h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "2"] %>
    <h6>炎炎の消防隊</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "2", "1"] %>
    <h6>賭けグルイ</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "2", "1"] %>
    <h6>DEATH NOTE</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "2", "1"] %>
    <h6>PSYCHO-PASS</h6>
    <p></p>
    <p></p>
  <% end %>
   <% when ["1", "2", "1", "1"] %>
    <h6>僕だけがいない街</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>チェンソーマン</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>推しの子</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>サマータイムレンダ</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "2", "1"] %>
    <h6>憂国のモリ―アーティ</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "2", "1"] %>
    <h6>化け物語（物語シリーズ）</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "2", "1"] %>
    <h6>東京喰種</h6>
    <p></p>
    <p></p>
  <% when ["1", "2", "2", "1"] %>
    <h6>ひぐらしのなく頃に</h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>賭博黙示録カイジ</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "2"] %>
    <h6>ようこそ実力至上主義の教室へ</h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>HUNTER×HUNTER</h6>
    <p></p>
    <p></p>
  <% when ["6", "1", "3", "1"] %>
    <h6>銀魂</h6>
    <p></p>
    <p></p>
  <% when ["6", "1", "2", "2"] %>
    <h6>斉木楠雄のψ難</h6>
    <p></p>
    <p></p>
  <% when ["6", "1", "2", "2"] %>
    <h6>この素晴らしい世界に祝福を！</h6>
    <p></p>
    <p></p>
  <% when ["6", "2", "2", "2"] %>
    <h6>日常</h6>
    <p></p>
    <p></p>
  <% when ["6", "1", "1", "2"] %>
    <h6>男子高校生の日常</h6>
    <p></p>
    <p></p>
  <% when ["6", "1", "3", "2"] %>
    <h6>かぐや様は告らせたい</h6>
    <p></p>
    <p></p>
  <% when ["6", "1", "2", "2"] %>
    <h6>ぐらんぶる</h6>
    <p></p>
    <p></p>
  <% when ["6", "1", "3", "2"] %>
    <h6>おそ松さん</h6>
    <p></p>
    <p></p>
  <% when ["6", "2", "2", "2"] %>
    <h6>女子高生の無駄使い</h6>
    <p></p>
    <p></p>  
  <% when ["6", "2", "1", "2"] %>
    <h6>戦闘員派遣します</h6>
    <p></p>
    <p></p>
  <% when ["6", "2", "1", "2"] %>
    <h6>坂本ですが？</h6>
    <p></p>
    <p></p>
  <% when ["6", "1", "2", "1"] %>
    <h6>僕とロボコ</h6>
    <p></p>
    <p></p>
  <% when ["6", "2", "2", "2"] %>
    <h6>ポプテピピック</h6>
    <p></p>
    <p></p>
  <% when ["6", "1", "3", "2"] %>
    <h6>ワンパンマン</h6>
    <p></p>
    <p></p>
  <% when ["7", "2","2", "2"] %>
    <h6>四月は君の噓</h6>
    <p></p>
    <p></p>
  <% when ["7", "1", "2", "2"] %>
    <h6>宇宙よりも遠い場所</h6>
    <p></p>
    <p></p>
  <% when ["7", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["7", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["7", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["7", "2", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["7", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>  
  <% end %>
  <% when ["7", "1", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["7", "1", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["7", "1", "2", "1"] %>
    <h6>賭博黙示録カイジ</h6>
    <p></p>
    <p></p>
  <% when ["7", "1", "2", "2"] %>
    <h6>ようこそ実力至上主義の教室へ</h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>HUNTER×HUNTER</h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>  
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>HUNTER×HUNTER</h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>  
    <% end %>
<% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>HUNTER×HUNTER</h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>  
  <% end %><% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>HUNTER×HUNTER</h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>  
  <% when ["2", "1", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>賭博黙示録カイジ</h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "2"] %>
    <h6>ようこそ実力至上主義の教室へ</h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>HUNTER×HUNTER</h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>  
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["1", "1", "2", "1"] %>
    <h6>HUNTER×HUNTER</h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "1", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "1", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "1"] %>
    <h6></h6>
    <p></p>
    <p></p>
  <% when ["2", "2", "2", "2"] %>
    <h6></h6>
    <p></p>
    <p></p>  
    <% end %>

</div>